# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env
.env.local

# Generated and temporary files
server/generated/*
server/temp/*

# Keep folders in Git
!server/generated/.gitkeep
!server/temp/.gitkeep

# Build files
client/dist/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and OS
.vscode/
.DS_Store
Thumbs.db
